**QUESTIONS # BASICS AND INPUT/OUTPUT**

**QUE:- 1. Write a program to print "Hello, World".**

In [2]:
print ("Hello World")

Hello World

Q**UE:- 2. Take input from the user and print it back.**

In [9]:
name =input("what is your name")
age =input("what is your age")
address =input("what is your address")

print(name )
print(age)
print(address)

what is your namearya
what is your age21
what is your addresswardha
arya
21
wardha

**QUE:- 3. Write a program to calculate the sum of two numbers entered by the user.**

In [11]:
n1 = int (input("Enter first number:- 1"))
n2 = int(input("Enter second number:- 2"))
sum = n1 + n2

print("addition is :", sum)

Enter first number:- 145
Enter second number:- 278
addition is : 123

**QUE:- 4. Create a program to check if a number is odd or even.**

In [15]:
number = int(input("Enter a number :  "))
if (number % 2) ==0:

    print(number,"is Even number")
else:
    print(number,"is Odd number")

Enter a number :  22
22 is Even number

**QUE:- 5. Write a program to find the maximum of three number.**

In [16]:
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
c = int(input("Enter third number:"))
if (a>b) and (a>c):
  print ("Maximum number:",a)
elif(b>a) and (b>c):
  print("Maximum number:",b)
else:
  print("Maximum number:",c)

Enter first number:3
Enter second number:4
Enter third number:2
Maximum number: 4

**QUE:- 6. Take a string input and print its reverse.**

In [17]:
string = "hii my name is arya "
reverse = ""
for i in range (len(string)):
  reverse = string[i]+reverse
print (reverse)

 ayra si eman ym iih

**QUE:- 7.Write a program to count the number of vowels in a string.**

In [18]:
stringgiven = input("Enter the string:")
count= 0
for a in stringgiven:
  if a.lower() in ['a','e','i','o','u']:
    count += 1

print(f"The vowels in a string is {count}")

Enter the string:learn something
The vowels in a string is 5

**QUE:- 8. Print all even number from 1 to 50.**

In [19]:
i = 2
while i<= 50:
  print(i)
  i=i+2

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

**QUE:- 9. Write a program to print the multiplication table of a given number.**

In [20]:
n = 8
for i in range (1,11):
  print(n*i)

8
16
24
32
40
48
56
64
72
80

**QUE:- 10. Create a calculator program with options for addition,substraction,multiplication,division.**

In [22]:
x = int (input("Enter first number:"))
y = int (input("Enter second number:"))
a = x+y
b = x-y
c = x*y
d = x/y
print("addition=",a)
print("substraction=",b)
print("multiplication=",c)
print("division=",d)

Enter first number:8
Enter second number:23
addition= 31
substraction= -15
multiplication= 184
division= 0.34782608695652173